// =========================================================
// COLORS
// =========================================================

// Theme #1 Background Colors:
$theme-1-bg-color-1: hsl(222, 26%, 31%);
$theme-1-bg-color-2: hsl(223, 31%, 20%);
$theme-1-bg-color-3: hsl(224, 36%, 15%);

// Theme #1 Key Colors:
$theme-1-operation-key-color: hsl(225, 21%, 49%);
$theme-1-operation-key-shadow: hsl(224, 28%, 35%);
$theme-1-function-key-color: hsl(6, 63%, 50%);
$theme-1-function-key-shadow: hsl(6, 70%, 34%);
$theme-1-normal-key-color: hsl(30, 25%, 89%);
$theme-1-normal-key-shadow: hsl(28, 16%, 65%);

// Theme #1 Text Colors:
$theme-1-text-color-1: hsl(221, 14%, 31%);
$theme-1-text-color-2: hsl(0, 0%, 100%);

// Theme #2 Backgrounds Colors:
$theme-2-bg-color-1: hsl(0, 0%, 90%);
$theme-2-bg-color-2: hsl(0, 5%, 81%);
$theme-2-bg-color-3: hsl(0, 0%, 93%);

// Theme #2 Key Colors:
$theme-2-operation-key-color: hsl(185, 42%, 37%);
$theme-2-operation-key-shadow: hsl(185, 58%, 25%);
$theme-2-function-key-color: hsl(25, 98%, 40%);
$theme-2-function-key-shadow: hsl(25, 99%, 27%);
$theme-2-normal-key-color: hsl(45, 7%, 89%);
$theme-2-normal-key-shadow: hsl(35, 11%, 61%);

// Theme #2 Text Colors:
$theme-2-text-color-1: hsl(60, 10%, 19%);
$theme-2-text-color-2: hsl(0, 0%, 100%);

// Theme #3 Background Colors:
$theme-3-bg-color-1: hsl(268, 75%, 9%);
$theme-3-bg-color-2: hsl(268, 71%, 12%);

// Theme #3 Key Colors:
$theme-3-operation-key-color: hsl(281, 89%, 26%);
$theme-3-operation-key-shadow: hsl(285, 91%, 52%);
$theme-3-function-key-color: hsl(176, 100%, 44%);
$theme-3-function-key-shadow: hsl(177, 92%, 70%);
$theme-3-normal-key-color: hsl(268, 47%, 21%);
$theme-3-normal-key-color: hsl(290, 70%, 36%);

// Theme #3 Text Colors:
$theme-3-text-color-1: hsl(52, 100%, 62%);
$theme-3-text-color-2: hsl(198, 20%, 13%);
$theme-3-text-color-3: hsl(0, 0%, 100%);
