/* ===================================================
TYPOGRAPHY
=================================================== */

@use "../abstracts/" as a;

body {
  font-family: a.$body-font;
}

.attribution {
  color: var(--third-text-color);
  font-family: a.$body-font;
  font-size: 11px;
  padding-bottom: 1rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.attribution a {
  color: var(--func-key-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.attribution a:hover {
  text-decoration: underline;
}

.attribution div {
  margin-top: 0.35rem;
}
